body {
    background-color: rgb(122, 122, 190);
    display: inline-grid;
}

nav {
    background-color: rgb(214, 214, 162);
}

.objOne {
    
}

/* .wholeTrade {
    display: grid;
    background-color: rgb(214, 214, 162);
    grid-template-rows: 1fr;
    } */
.trade1 {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 5fr 1fr;
    margin: 8px;
}


.wordTrade {
    font-weight: bold;
}
.footer {
    display: grid;
    background-color: rgb(124, 223, 220);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0;
    padding: 0;
    align-self: end;
}

.feature {
    display: grid;
    background-color: pink
}

.featText {
    display: grid;
    background-color: brown;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    
}
.footOne {
    display: grid;
    margin: 5px;
}
.footTwo {
    display: grid;
    margin: 0;
}
.footThree {
    display: grid;
    margin: 0;
}
.footFour {
    display: grid;
    margin: 0;
}
/* .trade2 {
    display: grid;
    grid-template-columns: 9fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 6px;
}

.trade3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 6fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 6px;
}

.trade4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 6fr 1fr;
    grid-template-rows: 1fr;
    margin: 6px;
} */

