body {
    background-color: rgb(122, 122, 190);
    display: grid;
    margin: 0;
    padding: 0;


    /* align-content: space-between;*/
}

nav {
    background-color: rgb(214, 214, 162);
}

.trade1 {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 5fr 1fr;
    margin: 8px;
}


.wordTrade {
    font-weight: bold;
}
.footer {
    display: grid;
    background-color: rgb(124, 223, 220);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0;
    padding: 0;
    align-self: end;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.feature {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.featText {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    background-color: pink;
    text-align: left;
    padding: 20px;

}

.empty {
    display: flex;
    width: 10px;
    height: 10px;
    background-color: white;  
}

.featText2 {
    display:flex;
    background-color: brown;
    justify-content: center;
    padding:0;
    align-items: center;   
}

.footOne {
    display: grid;
    margin: 5px;
}
.footTwo {
    display: grid;
    margin: 0;
}
.footThree {
    display: grid;
    margin: 0;
}
.footFour {
    display: grid;
    margin: 0;
}
/* .trade2 {
    display: grid;
    grid-template-columns: 9fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 6px;
}

.trade3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 6fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 6px;
}

.trade4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 6fr 1fr;
    grid-template-rows: 1fr;
    margin: 6px;
} */

